* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  background-color: #f5f8ff;
}

/* common style */
img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.primary-color {
  color: #e95a08;
}
.primary-font {
  font-size: 3.125rem;
  font-weight: bold;
  color: #000;
}

.secondary-font {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
  max-width: 75%;
}
.btn {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 15px 50px;
  background-color: #e95a08;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

/* navbar style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-top: 30px;
}
.nav-data {
  font-size: 1.125rem;
}
.nav-data a {
  text-decoration: none;
  color: #8987a1;
  margin-right: 3rem;
}
.nav-data a:first-child {
  color: #000;
}

/* hero section styling */

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 450px;
  margin-top: 50px;
}
.hero-info {
  max-width: 45%;
}
.hero-info h2 {
  font-size: 4rem;
  font-weight: bold;
}
.hero-img {
  max-width: 55%;
}

.hero-img img {
  min-height: 350px;
  max-width: 500px;
  object-fit: cover;
}

/* Our plants section styling */

.our-plants-section {
  margin-top: 50px;
}

.our-plants-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 45px;
}
.our-plants-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card-details {
  text-align: center;
}
.card-details h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.card-details h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* flower and plants lover section */

.plants-lover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-top: 85px;
}

.plants-lover-img {
  flex: 1;
  position: relative;
}
.flower-store {
  object-fit: cover;
}
.trusted-badge {
  height: 286px;
  width: 286px;
  position: absolute;
  top: -120px;
  right: 80px;
}
.plants-lover-content {
  flex: 1;
}
.plants-lover-content h2 {
  margin-bottom: 20px;
}
.plants-lover-content ul li {
  margin-bottom: 20px;
}

/* join section */
.join-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-image: url(./image/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  height: 530px;
  position: relative;
}
.join-info {
  text-align: center;
}
.join-info h2 {
  color: #fff;
}
.subscribe-form {
  margin-top: 20px;
  width: 830px;
  height: 50px;
  display: flex;
  background-color: #fff;
}
.subscribe-form input{
    flex: 1;
    border: none;
    outline: none;
    padding-left: 10px;
}
.subscribe-form button{
    border: none;
    outline: none;
    background-color: #e95a08;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 18px 50px;
    cursor: pointer;
}

/* media queries */

@media (max-width: 576px) {
  /* container */
  .container {
    max-width: 575px;
    margin: auto;
  }

  /* navbar */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-top: 10px;
  }
  .nav-data a {
    color: #000;
  }
  .nav-data a:nth-child(1),
  .nav-data a:nth-child(2),
  .nav-data a:nth-child(3) {
    visibility: hidden;
  }

  /* bannar */

  .hero {
    flex-direction: column-reverse;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    height: auto;
    padding: 10px 5px;
    margin-top: 10px;
  }
  .hero-info {
    max-width: 100%;
    margin-top: 15px;
  }
  .hero-info h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .secondary-font {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
  }
  .hero-img img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Our plants  */
  .our-plants-section {
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .our-plants-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
  }
  .our-plants-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 20px;
  }

  .card-details {
    text-align: center;
  }
  .card-details h2 {
    font-size: 1rem;
    font-weight: 500;
  }
  .card-details h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  .btn {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 10px;
    background-color: #e95a08;
    border: none;
    margin-top: 30px;
    cursor: pointer;
  }
  .card-img img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* flower and plants lover section */

  .plants-lover {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 85px;
  }

  .plants-lover-img {
    flex: 1;
  }
  .flower-store {
    object-fit: cover;
  }
  .trusted-badge {
    visibility: hidden;
  }
  .plants-lover-content {
    flex: 1;
  }
  .plants-lover-content h2 {
    font-size: 1.5rem;
    margin-bottom: 18px;
    word-wrap: normal;
  }
  .plants-lover-content ul li {
    font-size: 0.8rem;
    margin-bottom: 16px;
  }

  /* join section */
  .join-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-image: url(./image/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    height: 275px;
    position: relative;
  }
  .join-info {
    text-align: center;
  }
  .join-info h2 {
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
  }
 .subscribe-form {
  margin-top: 20px;
  width: 70%;
  height: 50px;
  display: flex;
  background-color: #fff;
}
.subscribe-form input{
    flex: 1;
    border: none;
    outline: none;
    padding-left: 10px;
}
.subscribe-form button{
    border: none;
    outline: none;
    background-color: #e95a08;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 18px 15px;
    cursor: pointer;
}
}
